@import url("https://purplecss.netlify.app/styles.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

:root {
    --header-blue: #4BC0D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    border-color: grey;
}

.lightTheme {
    background-color: white;
    color: black;
}

.darkTheme { 
    background-color: #212121;
    color: white;
}

.bdr-grey {
    border-color: grey;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
}

.followButton {
    border: none;
    border-radius: 3px;
    background-color: var(--header-blue);
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.authPageContainer {
    display: flex;
    place-items: center;
    justify-content: space-evenly;
}

.authImage {
    height: 100%;
    width: 35rem;
}

.authContainer {
    height: 100%;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.inputBox {
    width: 68%;
    padding: 0.8rem 1rem;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    color: inherit;
}

.inputBox:focus {
    border: 1px solid grey;
    border-radius: 3px;
}

.submitButton {
    padding: 0.8rem 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 3px;
    background-color: var(--header-blue);
    cursor: pointer;
}

.userDetails {
    display: flex;
    justify-content: flex-start;
}

.usernameNavlink {
    text-decoration: none;
    color: inherit;
}

.usernameNavlink:hover {
    text-decoration: underline;
}

.addNewPostButton {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    background-color: var(--header-blue);
}

.modalContainer {
    position: relative;
}

.addNewPostModal {
    width: 45rem;
    height: 25rem;
    margin-left: 20rem;
    margin-top: 8rem;
    padding: 1rem;
    position: absolute;
    top: 30;
    left: 30;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: var(--header-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newPostTextbox {
    width: 22rem;
    height: 5rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 3px;
}

.newPostTextbox:focus {
    border: 2px solid grey;
}

.addPostButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    margin: 1rem;
}

.modalCloseButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    margin: 1rem;
}

.display-none { display: none; }

.commentsContainer {
    width: 100%;
    height: fit-content;
    display: block;
}

.commentInput { 
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    color: inherit;
}

.commentInput:focus {
    border: 1px solid grey;
    border-radius: 3px;
}